/*Cards Section*/
div.cards-conteiner{
  display: inline-flex;
}
div.card{
object-fit: contain;
max-width: min-content;
background-color: rgb(66, 66, 66);
border:  3px solid black;
margin: auto;
border-radius: 5px;
}
div.card-header{
  display: flex;
  object-fit: fill;
  padding-bottom: 0px;
  margin-bottom:0px;
}
div.card-content{
  padding: 5px;
}
div.card-content-info, 
div.card-content-features{
  margin-left: 0.5em;
}
div.card:hover{
    transform: scale(1.5);
    transition: 500ms;
}
div.card:hover div.hide{
    display: block;
}
a{
    text-decoration: none;
    color: initial;
}
.button{
  padding: 5px
}
div.card-content-buttons{
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    padding: 5px
}
.hide{
    display: none;
}
.drop-b{
    margin: auto;
    margin-right: 10px;
    
}
.pegi-b,
.quality-b{
  border: 1px solid black
}
.compatibility-b{
  color: green;
  padding-top: 0px;
  margin-top: 0px;
  
}
div.like-buttons{
    display: inline-block;
}
div.like-buttons:hover > .hide{
    display: inline;
}
div.like-buttons:hover {
    transform: scale(1.5);
    transition: 500ms;
}
