/*Cards Section*/
:root{
  --card-back-color: #181818;
}

.cards-conteiner{
  display: flex;
  margin-left: 40px;
  height: 120px;
}

.card{
  border-radius: 5px;
}

.card-header{
  display: flex;
}
img.card-image{
  max-width: 300px;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}
.card-content{
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-content-buttons{
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
}
.card-content-info, 
.card-content-features{
  margin-left: 0.5rem;
  font-family: 'poppins',sans-serif;
}
.card-content-features{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-content-info{
  padding-bottom: 0.3rem;
}

div.card-content-info,
div.card-content-features span, p{
  color: white;
  text-shadow: 0.2px 0px 1px white;
}

video{
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

.prw-header{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.hide{
    display: none;
    border: none;
    background-color: var(--card-back-color);
}
div.like-buttons{
  transition: 500ms;
  transform-origin: center;
}

.button{
  height: 30px;
  width: 30px;
  box-shadow: 1px 1px 2px #3d3d3d;
}
.play-b{
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.plus-b{
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 3px;
  width: 30px;
  height: 30px;
  background-color: #3d3d3d
}
.like-b{
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 3px;
  width: 30px;
  height: 30px;
  transition: 500ms;
  background-color:#3d3d3d;
}
.unlike-b{
  transition: 500ms;
  width: 30px;
  height: 30px;
}
.adoro-b{
  transition: 500ms;
  width: 30px;
  height: 30px;
}
.drop-b{
    margin: auto;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
    
}
.pegi-b,
.quality-b{
  border: 1px solid;
  padding: 0.3rem;
}
.pegi-b{
  margin-right: 0.3rem;
}
.quality-b{
  margin-left: 0.3rem;
}
.compatibility-b{
  color: green;
  padding-top: 0.8rem;
  margin-top: 0px;
  text-shadow: none;
}

/*card hover display*/
.card:hover{
  transform: scale(1.5);
  transition: 500ms;
  min-width: max-content;
  transform-origin: center;
}
.card:hover video.hide{
  display:flex;
}

.card:hover .hide{
  display: block;
}
.card:hover .b-hide{
  display: inline-flex;
  position: absolute;
}
.like-buttons:hover {
  transform: scale(1.2);
  margin-top:0.1rem;
}
.card:hover img.card-image{
  display: none;
}
.card:hover .card-content-info, .card-content-features{
  font-size: 0.8rem;
  transition: 0ms;
}
.card:hover .unlike-b{
  margin-left: 0.4rem;
}
.card:hover .adoro-b{
  margin-left: 0.4rem
}
.like-buttons:hover .unlike-b{
  transform: translate(-32px);
}
.like-buttons:hover .adoro-b{
  transform: translate(25px);
}

.like-buttons:hover .like-b{
  border: none;
  border-radius: 0px;
  background: #3d3d3d;
  box-shadow: none;
} 
.like-buttons:hover .unlike-b{
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #3d3d3d;
}
.like-buttons:hover .adoro-b{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #3d3d3d;
}
